<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
</head>
<body>
    <h1>Acerca de mí</h1>
    <p>
        ¡Hola! Soy Valentín Kalinowski, tengo 18 años y actualmente vivo con mi papá en Castelldefels, España.
        El proyecto sigue una estructura típica de Django, con la aplicación principal llamada 'bookings'.
        Contiene directorios para migraciones, plantillas HTML y archivos estáticos.
        Sus Funcionalidades Principales son:
        <ul>
            <li>Reservas de Canchas: Permite a los usuarios realizar reservas para canchas de fútbol, básquet, tenis y squash.</li>
            <li>Usuarios: Los usuarios pueden registrarse, iniciar sesión y actualizar su perfil.</li>
        </ul>
        Además, contiene algunas características adicionales como por ejemplo el avatar, que permite a los usuarios añadir avatares a su foto de perfil.
        También se implementó una funcionalidad de búsqueda para las canchas y reservas.
    </p>
</body>
</html>
